<h1>Reactive Demo Form</h1>
<hr/>

<div class="card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input class="input" placeholder="Enter Username" formControlName="username" />
    @if (isInvalid('username')) {
      <small class="error">Username: 4-12 chars (letters/numbers/_)</small>
    }

    <input class="input" placeholder="Enter Email" formControlName="email" />
    @if (isInvalid('email')) {
      <small class="error">Enter a valid email.</small>
    }

    <input class="input" type="password" placeholder="Enter Password" formControlName="password" />
    @if (isInvalid('password')) {
      <small class="error">Password: 8+ with upper, lower, number.</small>
    }

    <select class="input" formControlName="role">
      @for (r of roles; track r){
        <option [value]="r">{{ r }}</option>
      }
    </select>
    <div class="form-group">
      <label>Gender:</label>
      <div>
        <label>
          <input type="radio" formControlName="gender" name="gender" value="female" />
          Female
        </label>
        <label>
          <input type="radio" formControlName="gender" name="gender" value="male" />
          Male
        </label>
      </div>
    </div>

    <select class="input" formControlName="status">
      @for (s of status; track s){
        <option [value]="s">{{ s }}</option>
      }
    </select>

    <textarea
      id="notes"
      formControlName="notes"
      rows="5"
    ></textarea>
    @if (isInvalid('notes')) {
      <small class="error">Notes: 10-500 length</small>
    }


    <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</div>
