* {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: brown;
  margin-top: 12px;
}

section {
  margin-bottom: 20px;
}

.passing {
  color: green;
  font-weight: bold;
}

.failing {
  color: red;
  font-weight: bold;
}

.box {
  border: 2px solid black;
  margin-top: 10px;
}
