* {
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
}

h2 {
  text-align: center;
}
h2, h3 {
  padding: 1em;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 1.4em;
}

ul li {
  color: #333;
  margin-bottom: 5px;
}

